<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Prod-Mapper">
	
	<sql id="search">	
		<!-- 상의 -->
		<if test="searchType == '상의'.toString()">
			and prod_Class = '상의'			
			and prod_name like '%'||#{keyword}||'%'
		</if>
		<!-- 하의 -->
		<if test="searchType == '하의'.toString()">
			and prod_Class = '하의'			
			and prod_name like '%'||#{keyword}||'%'
		</if>
		<!-- 신발 -->
		<if test="searchType == '신발'.toString()">
			and prod_Class = '신발'
			and prod_name like '%'||#{keyword}||'%'		
		</if>
		<!-- 신발 -->
		<if test="searchType == ''.toString()">
			and prod_name like '%'||#{keyword}||'%'		
		</if>
	</sql>
	<sql id="search_2">	
		<!-- 남성 -->
		<if test="searchType_2 == '남성'.toString()">
			and prod_Who = '남성'			
		</if>
		<!-- 여성 -->
		<if test="searchType_2 == '여성'.toString()">
			and prod_Who = '여성'			
		</if>
		<!-- KIDS -->
		<if test="searchType_2 == 'KIDS'.toString()">
			and prod_Who = 'KIDS'		
		</if>
	</sql>
	<select id="selectSearchProdList" resultType="prod">
		select
		* 
		from product
		where prod_Id is not null
		<include refid="search"/>
		<include refid="search_2"/>
			
		order by prod_Regdate desc
	</select>

	<select id="selectSearchProdListCount" resultType="int">
		select
		count(*) 
		from product
		where prod_Id is not null
		<include refid="search"/>
		<include refid="search_2"/>
	</select>
	
	<update id="insertProd" parameterType="prod">
		insert into 
		product(
			prod_Id,prod_Name, prod_Img, 
			prod_Cost, prod_Size,prod_Class,
			prod_Who,prod_Qty,prod_Desc
		)
		values(
		prodId_SEQ.NEXTVAL,#{prodName},#{prodImg},
		#{prodCost},#{prodSize},#{prodClass},
		#{prodWho},#{prodQty},#{prodDesc}
		)
	</update>
	
	<select id="selectProdByProdId" parameterType="int" resultType="prod">
		select 
		* 
		from product 
		where prod_id=#{prodId}
	</select>

</mapper>